@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.welcome-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #000000;
  /* Fondo negro */
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  overflow: hidden;
}

.welcome-title {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #c5003c;
  /* Rojo cálido */
  text-shadow: 0 0 15px rgba(197, 0, 60, 0.8), 0 0 30px rgba(197, 0, 60, 0.8);
  margin: 1rem 0;
  animation: glitch 1s infinite;
}

.welcome-text {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
  color: #55ead4;
  /* Amarillo neón */
  text-shadow: 0 0 15px rgba(243, 230, 0, 0.8), 0 0 30px rgba(243, 230, 0, 0.8);
}

.loading-bar {
  margin-top: 2rem;
  height: 6px;
  background: #c5003c;
  /* Rojo cálido */
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(197, 0, 60, 0.5);
  animation: scanEffect 2.5s ease-in-out infinite;
}

.icon-container {
  margin: 1.5rem 0;
}

.welcome-icon {
  font-size: 3rem;
  color: #55ead4;
  /* Amarillo neón */
  text-shadow: 0 0 10px rgba(243, 230, 0, 0.8);
  animation: blink 1.5s infinite;
}

/* Animaciones */
@keyframes glitch {
  0% {
    text-shadow: 2px 0px 0px #c5003c, -2px 0px 0px #55ead4;
  }

  25% {
    text-shadow: -2px 0px 0px #c5003c, 2px 0px 0px #55ead4;
  }

  50% {
    text-shadow: 2px 0px 0px #c5003c, -2px 0px 0px #55ead4;
  }

  75% {
    text-shadow: -2px 0px 0px #c5003c, 2px 0px 0px #55ead4;
  }

  100% {
    text-shadow: 2px 0px 0px #c5003c, -2px 0px 0px #55ead4;
  }
}

@keyframes scanEffect {
  0% {
    width: 0%;
  }

  50% {
    width: 70%;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}